body {
    background-color: #4136a7;
    color: white;
    font-size: 100%;
}

h2 {
    font-size: 300%;
    color: #40d15f
}

h3 {
    font-size: 100%;
}

.content {
    width: 800px;
    margin: auto;
    text-align: left;
}

#s {
    background-color: #4136a7;
    color: white;
    font-size: 100%;
}